* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    line-height: 1.5;
    text-align: justify;
}

nav {
    background-color: rgb(213 213 213);
    display: flex;
}

nav .left ul {
    margin-left: 15px;
}

nav .left li {
    display: inline;
}

nav .left li a {
    text-decoration: none;
    padding: 12px;
    color: black;
}

nav .left li a.menu-active {
    color: #808080;
}

nav img {
    width: 60px;
    margin: 4px 0;
}

nav .left {
    flex: 50%;
    padding-left: 90px;
    display: flex;
    align-items: center;
}

nav .right {
    flex: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 90px;  
}

nav .right a {
    background-color: #ee993e;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    padding: 75px 0;
}

.container .section {
    width: 85%;
    display: flex;
}

.container .section .left {
    flex: 30%;
} 

.container .section .left h1 {
    margin-bottom: 5px;
    margin-top: 20px;   
}

.container .section .left img {
  height: 220px;  
  object-fit: cover;
  object-position: 0 -5px; 
}

.container .section .right {
    /* background-color: blueviolet; */
    flex: 70%;
    padding-left: 35px;
}

table th, td {
    padding: 8px;
    border: 1px solid black;
}

.section .right .follow-me {
    display: flex;  
    margin-top: 10px;
}

.follow-me .icon {
    padding: 10px 12px;
    background-color: white;
    margin-right: 15px;
    border-radius: 50px;
    border: 3px solid grey;
}

.follow-me .icon img {
    width: 20px;
}

.follow-me .icon:hover {
    background-color: grey;
    border: 3px solid grey;
    cursor: pointer;
}

form.contact input {
    border: 1px solid #c4c4c4;    
} 

.checkbox-input label {
    font-size: 20px;
}

.checkbox-input .item {
  margin-bottom: 2px;
}

.blog-form form input:focus,
form.contact input:focus, 
textarea:focus {
  border: 1px solid #ee993e;
}

/* Submit Button */
button:active, nav .right a:active {
    opacity: 0.8;
}

.skills-badge {
    display: flex;
    flex-wrap: wrap;
}

.skills-badge span {
    background-color: white;
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 50px;
    margin: 3px;
}

.skills-badge span:hover {
    background-color: grey;
    color: white;
    border: 1px solid grey;
    cursor: pointer;
}

.section .right .skill-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.skill-section > div {
    width: 230px;
}

.skill-section img {
    width: 120px;
}

h2.contact {
  margin-top: 20px
}

/* Blog Form */
.blog-form {
    padding: 75px 0;
    display: flex;
    justify-content: center;
  }
  
  .blog-form .form-container {
    width: 500px;
  }
  
  .blog-form .form-container h1 {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .blog-form form label {
    font-size: 20px;
    font-weight: 400;
  }
  
  .blog-form form input,
  textarea,
  select {
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    background: #f4f3f3;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    outline: none;
  }
  
  .blog-form form textarea {
    height: 250px;
  }
  
  .blog-form form .input-blog-image-group {
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    background: #f4f3f3;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .blog-form form .input-blog-image-group label p {
    font-size: 15px;
  }
  
  .blog-form form .input-blog-image-group label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .blog-form form .button-group {
    text-align: right;
  }
  
  .blog-form form button {
    margin-top: 50px;
    padding: 8px 20px;
    font-size: 17px;
    background: #ee993e;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  .blog hr {
    border: 1px solid #dbdbdb;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  
  /* Blog list */
  .blog .blog-list {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .blog .blog-list .blog-list-item {
    width: 80%;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #dbdbdb;
    border-radius: 8px;
    display: flex;
  }
  
  .blog .blog-list .blog-list-item .blog-image {
    flex: 1;
  }
  
  .blog .blog-list .blog-list-item .blog-image img {
    width: 100%;
    object-fit: cover;  
  }
  
  .blog .blog-list .blog-list-item .blog-content {
    padding-left: 20px;
    flex: 2;
  }
  
  .blog .blog-list .btn-group {
    text-align: right;
    margin-bottom: 20px;
  }
  
  .blog .blog-list .btn-group .btn-edit {
    padding: 5px 10px;
    border: 0;
    border-radius: 4px;
    background: #dbdbdb;
  }
  
  .blog .blog-list .btn-group .btn-post {
    padding: 5px 10px;
    border: 0;
    border-radius: 4px;
    background: #ec4d37;
    color: #fff;
  }
  
  .blog .blog-list h1 a {
    text-decoration: none;
    color: #000000;
  }
  
  .blog .blog-list .detail-blog-content {
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
  }
  
  .blog .blog-list .blog-list-item p {
    margin-top: 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
  }
  
  /* Blog Detail */
  .blog-detail {
    display: flex;
    justify-content: center;
  }
  
  .blog-detail-container {
    width: 80%;
    margin: 40px 0;
  }
  
  .blog-detail-container img {
    width: 100%;
  }
  
  .blog-detail-container h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 44px;
    line-height: 120%;
    margin-bottom: 15px;
  }
  
  .blog-detail-container .author {
    font-weight: 100;
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 20px;
  }
  
  .blog-detail-container p {
    margin-top: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    text-align: justify;
  }
  
@media screen and (max-width: 480px) {
    nav .right {
        padding: 0 20px;
        flex: 30%
    }
    
    nav .left {
        padding: 0 20px;
        flex: 70%;
    }

    nav .left ul {
        padding-left: 10px;
    }

    nav .right a {
        padding: 8px;
    }

    .container {
        height: auto;
        padding: 50px 0;
    }

    .container .section {
        flex-direction: column;
    }

    .section .left .card {
        width: 85% !important;
    }

    .container .section .left, .container .section .right {
        flex: initial;
        margin-bottom: 30px;
    }

    .container .section .right {
        padding-left: 0;
    }

    .skill-section img {
        width: 60px;
    }

    form {
        width: 100% !important;
    }
}
